// https://www.w3schools.com/css/css_tooltip.asp
/* Tooltip container */
.my-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.my-tooltip .my-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 50%;
  right: 100%;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.my-tooltip:hover .my-tooltiptext {
  visibility: visible;
}
