
@{
    ViewBag.Title = "UserScript";
}

<div class="row">
    <h2>UserScript</h2>
    <p>UserScriptをインストールすると、AtCoder上でさまざまな機能が使えるようになります。</p>
    <a class="btn btn-primary" href="/install">インストール</a>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">Predictor</h5>
            <div class="card-body">
                <p class="card-text"></p>
                <button class="btn btn-primary disabled" data-toggle="modal" data-target="">詳細(準備中)</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">Estimator</h5>
            <div class="card-body">
                <p class="card-text"></p>
                <button class="btn btn-primary disabled" data-toggle="modal" data-target="">詳細(準備中)</button>
            </div>
        </div>
    </div>
</div>