
@{
    ViewBag.Title = "インストール";
}
<div class="row">
    <h1>インストール</h1>
</div>
<div class="row">
    <h3>UserScriptを実行できる環境を用意する</h3>
    <div>UserScriptの実行環境はtampermonkeyが一般的です。自分のブラウザに合ったものを<a href="https://tampermonkey.net/index.php?ext=dhdg">公式サイト</a>からダウンロードしてください。</div>
</div>
<div class="row">
    <h3>Scriptをインストールする</h3>
    <div>以下からUserScriptをインストールしてください。</div>
    <a class="btn btn-outline-primary" href="https://greasyfork.org/scripts/369954-ac-predictor/code/ac-predictor.user.js">インストール</a>
</div>