
@{
    ViewBag.Title = "インストール";
}
<h1>インストール</h1>
<div>
    <h2>Step.1</h2>
    <h4>UserScriptを実行できる環境を用意する</h4>
    UserScriptの実行環境はtampermonkeyが一般的です。自分のブラウザに合ったものを<a href="https://tampermonkey.net/index.php?ext=dhdg">公式サイト</a>からダウンロードしてください。
</div>
<div>
    <h2>Step.2</h2>
    <h4>Scriptをインストールする</h4>
    以下からUserScriptをインストールしてください。<br>
    <a class="btn btn-primary" href="https://greasyfork.org/scripts/369954-ac-predictor/code/ac-predictor.user.js">インストール</a>
</div>