
@{
    ViewBag.Title = "Index";
}
<h1>コンテストを選択してください</h1>
<form action="/contestresult" method="get">
    <select class="selectpicker" name="contestid" id="contestselector"></select>
    <button class="btn btn-primary">確定</button>
</form>


@section Styles
{
    @Styles.Render("/Content/bootstrap-select.min.css")
}
@section Scripts
{
    @Scripts.Render("/scripts/contestselector.js")
    @Scripts.Render("/scripts/bootstrap-select.min.js")
}