
@{
    ViewBag.Title = "Index";
}
<h1>コンテストを選択してください</h1>
<select class="selectpicker" id="contestselector"></select>

@section Styles
{
    @Styles.Render("/Content/bootstrap-select.min.css")
}
@section Scripts
{
    @Scripts.Render("/contestselector.js")
    @Scripts.Render("/Scripts/bootstrap-select.min.js")
}