
@{
    ViewBag.Title = "Index";
}
<form class="form-inline">
    <select class="form-control-lg col-sm-5" id="contest-selector"></select>
    <button type="button" class="btn btn-primary btn-lg col-sm-2" id="confirm-btn">確定</button>
</form>

<table class="table table-bordered table-striped table-hover th-center td-center td-middle" id="standings">
    <thead>
        <tr>
            <th style="width:3%;white-space:nowrap;">順位</th>
            <th>ユーザ</th>
            <th style="width:84px;min-width:84px">得点</th>
            <th style="width:84px;min-width:84px">パフォ</th>
            <th style="width:168px;min-width:168px">レート変化</th>
        </tr>
    </thead>
    <tbody id="standings-body"></tbody>
</table>

@section Styles
{
    @Styles.Render("/Content/standingstable.css")
}
@section Scripts
{
    @Scripts.Render("https://koba-e964.github.io/atcoder-rating-estimator/atcoder_rating.js")
    @Scripts.Render("/scripts/contestselector.js")
}