@{
    ViewBag.Title = "Index";
}
<h1>コンテストを選択してください</h1>
<select class="selectpicker">
    <optgroup label="開催中">
    </optgroup>
    <optgroup label="終了">
    </optgroup>
</select>

@section Styles
{
    @Styles.Render("/Content/bootstrap-select.min.css")
}
@section Scripts
{
    @Scripts.Render("/Scripts/bootstrap-select.min.js")     
}